<!doctype html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>1</title>
	<link rel="stylesheet" href="css//bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link href="css/styles.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/7034de7bde.js"></script>
	<script src="js/vue.js"></script>
</head>

<body>
	<div class="wrapper">
		<div class="sample">
			<form v-if="flag" @submit.prevent="flag=!flag">
				<div class="progress">
					<div class="progress-bar" role="progressbar" :style="getWidth"></div>
				</div>
				<div>
					<div class="form-group" v-for="(obj, index) in info">
						<label> {{obj.name}} </label> <span :class="icons[index]"></span>
						<input type="text" class="form-control" @input="valid(index)" v-model="info[index].value">
					</div>
				</div>
				<button class="btn btn-primary" :disabled="getActive"  >
					Send Data
				</button>
			</form>
			<div v-if="!flag">
				<table class="table table-bordered">
					<tr v-for="(obj2, index) in info">
						<td> {{obj2.name}} </td>
						<td> {{obj2.value}} </td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<script>
		new Vue({
			el: '.sample',
			data: {
				info: [{
						name: 'Name',
						value: '',
						pattern: /^[a-zA-Z ]{2,30}$/
					},
					{
						name: 'Phone',
						value: '',
						pattern: /^[0-9]{7,14}$/
					},
					{
						name: 'Email',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 1',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 2',
						value: '',
						pattern: /.+/
					}
				],
				icons: [],
				validArr: [],
				counter: 0,
				width: 0,
				flag: true
			},
			methods: {
				valid(index) {
					if (!this.info[index].pattern.test(this.info[index].value)) {
						this.validArr[index] = false;
					} else {
						this.validArr[index] = true;
					}
					if (this.validArr[index] == true) {
						this.icons[index] = 'far fa-check-circle';
					} else {
						this.icons[index] = 'fas fa-ban';
					}

					this.validArr.forEach(element => {
						if (element == true) {
							this.counter++;
						}
					});
					this.width = this.counter * 20;
					this.counter = 0;
				}
			},
			computed: {
				getWidth() {
					return {
						'width': this.width + '%'
					}
				},
				getActive() {
					return this.width == 100 ? false : true
				}
			}
		});
	</script>
</body>

</html>